/*========================================
                web-fonts 
=======================================*/
/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*=======================================
        Common CSS or Utilities 
======================================*/
body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.container {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link-button {
    background-color: #e02c6d;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 40px;
}

/*===========================================
        Media quary-Rasponsiveness 
 ==========================================*/

/*=========================================
                 Header Area 
========================================*/
#header {
    display: flex;
    justify-content: center;
    background-color: #2d25a0;
    margin-bottom: 50px;
}
.header-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*------ Nav -------*/
.nav-area {
    background-image: linear-gradient(to right, #f86060, #8897ff);
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home {
    margin-left: 20px;
    font-weight: normal;
    font-size: 20px;
}
.home a {
    text-decoration: none;
    color: #fff;
}
.login {
    margin-right: 20px;
}
.login a {
    text-decoration: none;
    color: yellow;
}

/* ----Header------ */
.heading-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.main-heading {
    width: 420px;
    text-align: left;
}
.main-heading h1 {
    font-size: 56px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
}

/*-----Animation---- */
.heading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    width: 420px;
    background-image: url(../images/graphics/blue-bg.png);
    background-repeat: no-repeat;
    background-size: 280px;
    background-position: 170px 2px;
    padding-top: 20px;
    margin-top: 10px;
    transition: transform 0.5s linear 0.1s;
}
.heading-animation img {
    width: 350px;
}

.football-cup {
    background-image: url(../images/graphics/copa-cup.png);
    background-position: -9999px;
    background-repeat: no-repeat;
    transition: background-position 2s ease-in-out 0.1s;
}
.football {
    transition: transform 0.5s ease-in 0.6s;
}

.heading-area:hover .heading-animation {
    transform: scale(1.2);
}
.heading-area:hover .football-cup {
    background-size: 480px;
    background-position: -80px;
    background-repeat: no-repeat;
}

.heading-area:hover .football {
    transform: rotate(180deg) translate(-500px, 100px);
    transform-origin: top center;
}

/*======================================================
                        Main Area 
 =====================================================*/
#main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
}

/* ---------------player-section---------------------*/
.player-area {
    margin-bottom: 150px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 27px;
}
.player-card {
    width: 278px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #e8e8e8;
    padding: 10px;
    box-shadow: 10px 5px 20px #e8e8e8;
}
.player-image {
    width: 100%;
    text-align: center;
}

.player-image img {
    width: 100%;
}
.player-info {
    text-align: justify;
}
.player-info h3 {
    margin-top: 16px;
    margin-bottom: 10px;
}

.player-info p {
    font-weight: normal;
    line-height: 26px;
    color: #6c6c6c;
}

/*--------------------- Highlights Section------------------*/
.highlights {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.highlights-title {
    width: 50%;
    margin-right: 30px;
    padding: 10px;
}
.highlights-title h2 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
}
.highlights-title p {
    text-align: justify;
    color: #6c6c6c;
    font-weight: normal;
    line-height: 28px;
}

.highlights-image {
    width: 50%;
    text-align: center;
}
.highlights-image img {
    width: 94%;
}

/* ---------------News Section ---------------------*/

.news-area {
     
}
.news {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.news h2 {
    margin-bottom: 60px;
    text-align: center;
    color: rgb(48, 200, 255);
}
.news-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 50px rgb(182, 182, 182);
}
.news-heading {
    text-align: left;
}
.news-heading h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(0, 113, 233);
}
.news-heading h4:hover {
    text-decoration: underline;
    cursor: pointer;
}
.news-heading p {
    margin-bottom: 0px;
}
.color-text {
    color: #6f6f6f;
}
.news-thumbnail img {
    border-radius: 10px;
}

/* ------------Match Section-----------*/
.matchs-area{
    background-image: linear-gradient(to right, seagreen, skyblue);
    color: #fff;
    border-radius: 10px;
     
}
.matchs-area h2{
    color: #3b2063;
}
.match-goals{
    display: flex;
    text-decoration: row;
    justify-content: center;
    align-items: center;
     
}
.team{
    text-align: center;
    padding: 100px;
}


/* ==================================================
                    Footer Area
===================================================*/
#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}
.footer-logo {
    text-align: center;
    padding: 0;
}
.footer-logo img {
    width: 65%;
}
.social-icon {
    text-align: center;
}
.icon {
    display: inline-block;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: #c0c0c0;
    border-radius: 60%;
    padding: 10px;
    margin: 0 7px;
}
.icon a {
    text-decoration: none;
}
.icon i {
    color: #5e5e5e;
}
.copyrights {
    text-align: center;
}
.copyrights p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}


/* ========================================
            Media Queary
========================================= */
/*---------- Mobile-Responsive -----------*/

@media only screen and (max-width: 668px) {
    .container{
        width: 100%;
    }
    .container,
    .header-area,
    #header,
    .heading-area,
    .highlights, .match-goals  {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .news-row {
        align-content: center;
        margin-bottom: 20px;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        align-content: center;
    }

    .heading-animation,
    .highlights-image,
    .main-heading h1,
    .highlights-title h2 {
        text-align: center;
    }
    .heading-animation,
    .highlights-image {
        margin-top: 50px;
    }
    .player-area,
    #main,
    .highlights,
    .news {
        margin-bottom: 50px;
    }
    .link-button {
        margin-left: 25%;
        padding: 10px 10%;
    }
    .home,
    .login {
        padding-left: 0 10%;
        margin: 0 5%;
    }

    .footer-logo img {
        width: 45%;
    }
}
/*-------------- Tab_Responsive -----------*/
@media only screen and (min-width: 668px) and (max-width: 960px) {
    .container {
        width: 100%;
    }

    .container,
    .header-area,
    #header,
    .heading-area,
    .highlights, .match-goals  {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .news-row {
        align-content: center;
        margin-bottom: 40px;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-content: center;
    }

    .heading-animation,
    .highlights-image,
    .main-heading h1,
    .highlights-title h2 {
        text-align: center;
    }
    .heading-animation,
    .highlights-image {
        margin-top: 85px;
    }
    .player-area,
    #main,
    .highlights,
    .news {
        margin-bottom: 85px;
    }
    .link-button {
        margin-left: 25%;
        padding: 10px 45px;
    }
    .home,
    .login {
        padding-left: 0 10%;
        margin: 0 5%;
    }
    .footer-logo img {
        width: 50%;
    }
}
